#title{
        margin-bottom: 7vw !important;
        margin-top: 3vw !important;
        font-weight: bold;
      }
      nav{
        overflow: hidden;
      }
      
      @media (max-width:800px){
        #title{
          font-size: 8vw !important;
          
        }
        .card-title{
            font-size: 10vw !important;
          }
      }
	  #aboutUs {
        transform: translate(-50%, -50%);
      }
      @media screen and (max-width: 900px) {
        #aboutUs {
          width: 75% !important;
        }
      }