#title{
        margin-bottom: 2.7vw !important;
        margin-top: 1.3vw !important;
        font-weight: bold;
      }
      nav{
        overflow: hidden;
      }

      @media (min-width:800px){
        .w-lg-25{
          width: 25% !important;
        }

      }
      
      @media (max-width:800px){
        #title{
          font-size: 8vw !important;
          
        }
        .card-title{
            font-size: 10vw !important;
          }
      }
	  #aboutUs {
        transform: translate(-50%, -50%);
      }
      @media screen and (max-width: 900px) {
        #aboutUs {
          width: 75% !important;
        }
      }



.blur{
  filter: blur(3.5px);
}